<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>

  <body>
     <h1>Please provide your user Details :</h1>
    <form method="POST" action = "/send_data">
      <div class = "form-group">
        <div>
            <label for="name">User ID :</label>
            <input type="text" id="userId" name="userId" required minlength="4" maxlength="20" size="20" required />
        </div>
        <div>
            <label for="name">Password :</label>
            <input type="password" id="password" name="password" required minlength="4" maxlength="20" size="20" required/>
        </div>
      </div>
      <input class="btn btn-primary" type="submit" value="Sign in">
    </form>

  </body>
</html>